</main>

<footer>
    <p>Animal data from <a href="https://api-ninjas.com/api/animals">API Ninjas</a> | Made in <%= new
            Date().getFullYear() %> by <a href="https://rclarkeweb.github.io">R Clarke Web</a>
    </p>
</footer>
</body>

</html>